jfreechart-1.0.19
.idea/libraries/jcommon_1_0_23.xml
.idea/workspace.xml
.idea/workspace.xml
out
out/production/FuelAlg/com/fuelalg/FuelAlg.class
out/production/FuelAlg/com/fuelalg/Main.class
FuelAlg.iml
.idea/libraries/jfreechart_1_0_19.xml
.idea/workspace.xml
FuelAlg.iml
data.csv
FuelAlg.iml